<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548131849008-nn56qfpq1ii7dbrfupmkg2d0o5t4g2cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548131849008-nn56qfpq1ii7dbrfupmkg2d0o5t4g2cp</string>
	<key>API_KEY</key>
	<string>AIzaSyBiVE3qwZzGUQgn-CLGcmu2dsPN-a6ItBE</string>
	<key>GCM_SENDER_ID</key>
	<string>548131849008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ufit</string>
	<key>PROJECT_ID</key>
	<string>u-fit-b9297</string>
	<key>STORAGE_BUCKET</key>
	<string>u-fit-b9297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548131849008:ios:7f195fb6824c51423abef5</string>
</dict>
</plist>